[submodule "modules/catch2"]
	path = modules/catch2
	url = https://github.com/catchorg/Catch2
[submodule "modules/stb"]
	path = modules/stb
	url = https://github.com/nothings/stb
[submodule "modules/utfcpp"]
	path = modules/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw
[submodule "modules/variant"]
	path = modules/variant
	url = https://github.com/mpark/variant
[submodule "modules/glew"]
	path = modules/glew
	url = https://github.com/Perlmint/glew-cmake
